.nav-container {
  z-index: 999;
}

.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out; /* Add opacity transition */
}

#nav-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.rm-sidebar-dropdown .ant-dropdown-menu {
  background-color: rgb(39 39 42);
}

.rm-sidebar-dropdown {
  min-width: 130px !important;
}

.rm-sidebar-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: white;
}
