@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.rm-navigation-drawer .ant-drawer-content {
  background-color: #27272a;
  color: white;
}

.rm-navigation-drawer .ant-drawer-close {
  color: white;
}

.rm-navigation-drawer .ant-drawer .ant-drawer-close:hover {
  color: white;
}

.rm-password-field .ant-input-outlined {
  background-color: #18181b;
}

.rm-password-field .ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: rgb(255 255 255 / 83%);
}

.rm-password-field .ant-input-outlined:focus-within {
  background-color: #18181b;
}

.rm-input-error {
  background-color: #18181b !important;
}

.rm-login-input-error {
  background-color: #18181b !important;
}

.rm-category-input .ant-input-outlined {
  background-color: #18181b !important;
  color: white !important;
}

.ant-select-selection-placeholder {
  color: white !important;
}

.rm-category-modal .ant-modal-content {
  width: 60% !important;
  margin: 0 auto 0 auto;
  background-color: rgb(28, 27, 27) !important;
}

.rm-category-modal .ant-modal-content .ant-modal-close {
  color: white !important;
}

.rm-category-modal-input {
  background-color: black !important;
  color: white !important;
}

.rm-category-modal-input .ant-input-outlined:focus,
.rm-category-modal-input .ant-input-outlined:focus-within,
.rm-category-modal-input .ant-input-outlined:active,
.rm-category-modal-input .ant-input-outlined:hover,
.rm-category-modal-input .ant-input-outlined:visited,
.rm-form-input .ant-input-outlined,
.rm-categories-select .ant-select-selector {
  background-color: black !important;
  color: white !important;
}

.rm-category-modal .ant-modal-footer {
  display: none;
}

.rm-category-delete-btn {
  background-color: rgb(233, 117, 74);
}

.rm-category-delete-btn:hover {
  background-color: #ff8b3d !important;
}

.rm-upload-product-img .ant-upload-list .ant-upload-select {
  width: 100% !important;
}

.rm-categories-select .ant-select-arrow {
  color: white !important;
}

.rm-upload-product-img .ant-upload-list-item-container {
  width: 100% !important;
  height: 200px !important;
}

.rm-input-number-btn .ant-input-number-input {
  background: black !important;
  color: white !important;
  height: 45px !important;
}

.rm-product-pagination .ant-pagination-item-link {
  color: #ec4899 !important;
}

.rm-product-pagination .ant-pagination-item {
  color: #ec4899; /* Pink color for all items */
}

.rm-product-pagination .ant-pagination-item a {
  color: #ec4899; /* Ensure unselected items have pink color */
}

.rm-product-pagination .ant-pagination-item-active {
  background-color: #ec4899; /* Pink background for the active item */
}

.rm-product-pagination .ant-pagination-item-active a {
  color: black; /* Black color for the active item */
}

.rm-checkbox .ant-checkbox-inner,
.rm-radio-btn .ant-radio-inner {
  background-color: #2a2222 !important;
}

.rm-checkbox .ant-checkbox-inner {
  color: #c71870;
}
